@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "CreateEmployee";

    @model EmployeeManagement.ViewModels.EmployeeViewModel

    
}


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Form Elements</div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <form asp-controller="Employee" asp-action="Create" enctype="multipart/form-data" method="post">
                            <div class="form-group">
                                <label for="Name">Full Name</label>
                                <input type="text" class="form-control" id="Name" name="Name" placeholder="Enter Full Name">

                            </div>
                            <div class="form-group">
                                <label for="Age">Age</label>
                                <input type="text" class="form-control" id="Age" name="Age" placeholder="Enter Age">

                            </div>
                            <div class="form-group">
                                <label for="Email">Email Address</label>
                                <input type="text" class="form-control" id="Email" name="Email" placeholder="Enter Email Address">

                            </div>
                            <div class="form-group">
                                <label for="MobileNo">Mobile Number</label>
                                <input type="text" class="form-control" id="MobileNo" name="MobileNo" placeholder="Enter Mobile Number">

                            </div>


                            <div class="form-group">
                                <label for="Gender">Gender</label>
                                <select class="form-control" id="Gender" name="Gender">
                                    <option>Male</option>
                                    <option>Female</option>


                                </select>
                            </div>
                            
                            <div class="form-group">
                                <label for="Photo"> Photo</label>
                                <input type="file" class="form-control-file" id="Photo" name="Photo">
                            </div>
                            <div class="card-action">
                                <button class="btn btn-success" type="submit">Submit</button>
                                <button class="btn btn-danger" type="button">Cancel</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>