@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "EditVacancy";

    @model EmployeeManagement.Models.Vacancy

    
}


<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Vacancy</div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <form asp-controller="Vacancy" asp-action="Edit" enctype="multipart/form-data" method="post">
                            <input hidden asp-for="VacancyId" />
                            
                            <div class="form-group">
                                <label for="Name">Description</label>
                                <input type="text" asp-for="Description" class="form-control" id="DepName" name="Description" placeholder="@Model.Description">

                            </div>
                            <div class="form-group">
                                <label for="DepHod">Date</label>
                                <input type="text" asp-for="Date" class="form-control" id="DepHod" name="Date" placeholder="@Model.Date">

                            </div>
                            <div class="form-group">
                                <label for="DepLocation">Time</label>
                                <input type="text" asp-for="Time" class="form-control" id="DepLocation" name="Time" placeholder="@Model.Time">

                            </div>
                            



                            
                           
                            <div class="form-group row">
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary" asp-route-id="@Model.VacancyId">Update</button>
                                    <a asp-controller="Vacancy" asp-action="AllDetails" class="btn btn-primary">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>